<div class="font-selection">
    <label>Reference</label>

    <fieldset>

    </fieldset>
</div>

<div class="model-selection">

    <label>Models</label>
    <fieldset>
    </fieldset>
</div>

<div class="epochs-selection">
    <label>Epochs</label>
    <fieldset>
    </fieldset>
</div>


<div class="samples-selection">
    <label>Samples</label>
    <fieldset>
    </fieldset>
</div>

<div class="font-preview" data-lttrface-preview>
    <p contenteditable="true">
        The quick AI<br>
        generates so<br>
        lovely fonts
    </p>
</div>