<div class="model-selection">
    <h3>Select Model</h3>
    <p>Explainer paragraph hraoeraea</p>
    <fieldset>
        <!-- Radio buttons for model selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>
</div>

<div class="epochs-selection">
    <h3>Select Epochs</h3>
    <p>Explainer paragraph</p>
    <fieldset>
        <!-- Radio buttons for model selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>
</div>


<div class="samples-selection">
    <h3>Select Samples</h3>
    <p>Explainer paragraph</p>
    <fieldset>
        <!-- Radio buttons for model selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>
</div>


<div class="font-selection">
    <h3>Select Fonts</h3>
    <p>Explainer paragraph</p>
    <fieldset>
        <!-- Radio buttons for model selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>
</div>

 <div class="font-preview" data-lttrface-preview>
    <p contenteditable="true" class="text_size_4xl">
    The quick brown fox jumps over the lazy dog
    </p>
    <p contenteditable="true" class="text_size_4xl">
    A B C D E F G H I J K L M N<br>
    O P Q R S T U V X Y Z<br>
    a b c d e f g h i j k l m n<br>
    o p q r s t u v x y z
    </p>
</div>