<div class="font-selection">
    <label>Reference</label>
    <div class="dropdown">
        <div class="selected-item" data="0001">0001</div>
        <div class="dropdown-options hidden" data="fontNumberRange">
            <div class="dropdown-option" data-value="0000">0000</div>
            <div class="dropdown-option" data-value="0001" attr="selected">0001</div>
            <div class="dropdown-option" data-value="0002">0002</div>
            Other 
        </div>
    </div>
</div>

<div class="model-selection">
    <label>Models</label>
    <div class="dropdown">
        <div class="selected-item" data="DVF2">DVF2</div>
        <div class="dropdown-options hidden" data="availableModels">
            <div class="dropdown-option" data-value="DVF2-FT">DVF2-FT</div>
            <div class="dropdown-option" data-value="DVF2" attr="selected">DVF2</div>
        </div>
    </div>
</div>

<div class="epochs-selection">
    <label>Epochs</label>
    <div class="dropdown">
        <div class="selected-item" data="1100">1100</div>
        <div class="dropdown-options hidden" data="epochsRange">
            <div class="dropdown-option" data-value="1100 attr="selected"">1100</div>
            <div class="dropdown-option" data-value="1200">1200</div>
        </div>
    </div>
</div>

<div class="samples-selection">
    <label>Samples</label>
    <div class="dropdown">
        <div class="selected-item" data="30">30</div>
        <div class="dropdown-options hidden" data="samplesRange">
            <div class="dropdown-option" data-value="20">20</div>
            <div class="dropdown-option" data-value="30" attr="selected">30</div>
        </div>
    </div>
</div>