<div class="font-dial-system"></div>
    <!-- Model Selection Section -->
    <fieldset class="model-selection">
        <legend>Select Model</legend>
        <!-- Radio buttons for model selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>

    <!-- Epochs Selection Section -->
    <fieldset class="epochs-selection">
        <legend>Select Epochs</legend>
        <!-- Radio buttons for epochs selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>

    <!-- Samples Selection Section -->
    <fieldset class="samples-selection">
        <legend>Select Samples</legend>
        <!-- Radio buttons for samples selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>

    <!-- Font Number Selection Section -->
    <fieldset class="font-selection">
        <legend>Select Font Number</legend>
        <!-- Radio buttons for font selection will be injected here by lttrai-font_preview-ui.js -->
    </fieldset>

    <!-- Preview Section -->
    <div class="font-preview" data-lttrface-preview>
        <p class="text_size_3xl">Preview of the selected font will appear here.</p>
    </div>
</div>