label {
    margin-right: var(--size-s);
    cursor: pointer;
    display: inline-block;
}

input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.model-selection {
	grid-area: area-model-selection;
}

.epochs-selection {
	grid-area: area-epochs-selection;
}

.samples-selection {
	grid-area: area-samples-selection;
}

.font-selection {
	grid-area: area-font-selection;
	border: none;
	margin: var(--size-s) 0;
	display: flex;
	flex-direction: column;
}

.font-selection label {
	height: var(--size-2xl);
}

.font-selection input[type="radio"] + span {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	color: transparent;
	display: block;
	width: 100%;
	height: 100%;
}
	.font-selection input[type="radio"][value="0000"] + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-01.svg);
	}

	.font-selection input[type="radio"][value="0001"] + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-02.svg);
	}
	.font-selection input[type="radio"][value="0002"] + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-03.svg);
	}
	.font-selection input[type="radio"][value="0003"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-04.svg);
	}
	.font-selection input[type="radio"][value="0004"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-05.svg);
	}
	.font-selection input[type="radio"][value="0005"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-06.svg);
	}
	.font-selection input[type="radio"][value="0006"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-07.svg);
	}
	.font-selection input[type="radio"][value="0007"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-08.svg);
	}
	.font-selection input[type="radio"][value="0008"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-09.svg);
	}
	.font-selection input[type="radio"][value="0009"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-10.svg);
	}
	.font-selection input[type="radio"][value="0010"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-11.svg);
	}
	.font-selection input[type="radio"][value="0011"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-12.svg);
	}
	.font-selection input[type="radio"][value="0012"]  + span {
		background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-13.svg);
	}


.font-preview {
	margin-top: var(--size-l);
	font-size: var(--text-xl);
	text-align: center;
	font-family: sans-serif; /* Default font */
	grid-area: area-font-preview;
}