.slide--grid--font-dial-system fieldset label input[type="radio"] {
	display: none;
}

.slide--grid--font-dial-system > div > label {
	margin-bottom: var(--size-3xs);
}

.slide--grid--font-dial-system fieldset label {
	cursor: pointer;
	font-family: var(--lttr-brand);
	font-size: var(--text-xs);
	line-height: var(--size-s);
}

.slide--grid--font-dial-system > div select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	border: none;
    background: transparent; 
    cursor: pointer;
}

.slide--grid--font-dial-system > div select:hover {
	color: var(--alpha-mid);
}

.slide--grid--font-dial-system > div select::after {
	content: '▼';
	position: absolute;
	display: block;
	pointer-events: none; /* Arrow shouldn't block interaction */
}

.font-selection {
	grid-area: area-font-selection;
}

.font-selection fieldset label {
	height: 2.9vw;
	width: 5.4vw;
}

.font-selection input[type="radio"]+span {
	display: block;
	background-position: 0 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 94%;
	color: transparent;
	display: block;
	line-height: var(--size-xl);
	font-size: var(--text-xl);
	filter: saturate(0%) brightness(1000%) contrast(100%);
}

.font-selection input[type="radio"]:checked+span {
	filter: none;
}

.font-selection input[type="radio"]:checked+span::after {
	display: block;
	position: relative;
	content: '↑';
	color: var(--alpha-mid);
	top: -2.2vw;
	left: 1.45vw;
}

.font-selection input[type="radio"][value="0000"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-01.svg);
}

.font-selection input[type="radio"][value="0001"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-02.svg);
}

.font-selection input[type="radio"][value="0002"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-03.svg);
}

.font-selection input[type="radio"][value="0003"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-04.svg);
}

.font-selection input[type="radio"][value="0004"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-05.svg);
}

.font-selection input[type="radio"][value="0005"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-06.svg);
}

.font-selection input[type="radio"][value="0006"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-07.svg);
}

.font-selection input[type="radio"][value="0007"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-08.svg);
}

.font-selection input[type="radio"][value="0008"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-09.svg);
}

.font-selection input[type="radio"][value="0009"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-10.svg);
}

.font-selection input[type="radio"][value="0010"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-11.svg);
}

.font-selection input[type="radio"][value="0011"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-12.svg);
}

.font-selection input[type="radio"][value="0012"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-13.svg);
}


.model-selection {
	grid-area: area-model-selection;
}

.epochs-selection {
	grid-area: area-epochs-selection;
}

.samples-selection {
	grid-area: area-samples-selection;
}

.font-preview {
	grid-area: area-font-preview;
}

.font-preview p {
	font-size: 12vw;
	line-height: 13vw;
}

.model-selection input[type="radio"]:checked+span,
.epochs-selection input[type="radio"]:checked+span,
.samples-selection input[type="radio"]:checked+span {
	color: var(--alpha-mid);
}

.model-selection input[type="radio"]:checked+span::before,
.epochs-selection input[type="radio"]:checked+span::before,
.samples-selection input[type="radio"]:checked+span::before {
	display: inline-block;
	content: '→';
	margin-left: calc(var(--size-2xs) * -3);
	padding-right: calc(var(--size-2xs) * 1);
}

/* clear fucking webflow mess  */
.w-embed::before,
.w-embed::after {
	display: none;
}


@media screen and (max-width: 479px) {

	.font-dial-system label {
		line-height: var(--size-xl);
		font-size: var(--text-l);
	}

	.font-selection fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		column-gap: var(--size-xs);
	}

	.font-selection input[type="radio"]+span {
		background-size: 100%;
	}

	.font-selection input[type="radio"]:checked+span::before {
		display: none;
	}
}