.slide--grid--font-dial-system h1 {
	grid-area: area-logo;
}

.slide--grid--font-dial-system .button--lttrai--download-font {
	grid-area: area-download-font;
	justify-self: end;
}

/* .slide--grid--font-dial-system .button--lttrai--download-font:after {
	display: none;
} */

.slide--grid--font-dial-system>div>label {
	font-size: var(--text-2xs);
	line-height: var(--size-s);
}

.slide--grid--font-dial-system .selected-item {
	cursor: pointer;
	margin: 0;
	padding: 0;
	font-size: var(--text-xs);
	/*! font-weight: bold; */
	line-height: var(--size-s);
	display: flex;
	justify-content: space-between;
	border-bottom: 0.07vw solid var(--beta-mid);
}

.slide--grid--font-dial-system .selected-item:after {
	content: "▾";
}

.slide--grid--font-dial-system .selected-item:hover {
	color: var(--alpha-mid);
	border-bottom: 0.07vw solid var(--alpha-mid);
}

.slide--grid--font-dial-system .dropdown-options {
	background: var(--beta-dark);
	position: absolute;
	margin-top: calc(0 * var(--size-2xs));
	margin-left: calc(-2 * var(--size-2xs));
	padding: var(--size-2xs);
}

.slide--grid--font-dial-system .dropdown-options .dropdown-option {
	padding: 0 var(--size-2xs);
	cursor: pointer;
	display: grid;
	font-size: var(--text-2xs);
}

.slide--grid--font-dial-system .dropdown-options .dropdown-option:hover {
	color: var(--alpha-mid);
}

.slide--grid--font-dial-system .dropdown-options .dropdown-option.selected {

	color: var(--alpha-mid);
}

.slide--grid--font-dial-system .dropdown-options .dropdown-option.selected::before {
	content: '→';
	position: absolute;
	left: calc(-1 * var(--size-2xs));
}

.font-selection {
	grid-area: area-font-selection;
}

.font-selection input[type="radio"]+span {
	display: block;
	background-position: 0 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 94%;
	color: transparent;
	display: block;
	line-height: var(--size-xl);
	font-size: var(--text-xl);
	filter: saturate(0%) brightness(1000%) contrast(100%);
}

.font-selection input[type="radio"]:checked+span {
	filter: none;
}

.font-selection input[type="radio"]:checked+span::after {
	display: block;
	position: relative;
	content: '↑';
	color: var(--alpha-mid);
	top: -2.2vw;
	left: 1.45vw;
}

.font-selection input[type="radio"][value="0000"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-01.svg);
}

.font-selection input[type="radio"][value="0001"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-02.svg);
}

.font-selection input[type="radio"][value="0002"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-03.svg);
}

.font-selection input[type="radio"][value="0003"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-04.svg);
}

.font-selection input[type="radio"][value="0004"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-05.svg);
}

.font-selection input[type="radio"][value="0005"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-06.svg);
}

.font-selection input[type="radio"][value="0006"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-07.svg);
}

.font-selection input[type="radio"][value="0007"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-08.svg);
}

.font-selection input[type="radio"][value="0008"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-09.svg);
}

.font-selection input[type="radio"][value="0009"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-10.svg);
}

.font-selection input[type="radio"][value="0010"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-11.svg);
}

.font-selection input[type="radio"][value="0011"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-12.svg);
}

.font-selection input[type="radio"][value="0012"]+span {
	background-image: url(https://assets.lttrcorp.com/2024-10-01-ai-font-tester/images/_ahoy/ahoy-13.svg);
}


.model-selection {
	grid-area: area-model-selection;
}

.epochs-selection {
	grid-area: area-epochs-selection;
}

.samples-selection {
	grid-area: area-samples-selection;
}

.font-preview {
	grid-area: area-font-preview;
}

.font-preview p {
	font-size: 11vw;
	line-height: 13vw;
	letter-spacing: -0.7rem;
	word-spacing: 1rem;
}

.model-selection input[type="radio"]:checked+span,
.epochs-selection input[type="radio"]:checked+span,
.samples-selection input[type="radio"]:checked+span {
	color: var(--alpha-mid);
}

.model-selection input[type="radio"]:checked+span::before,
.epochs-selection input[type="radio"]:checked+span::before,
.samples-selection input[type="radio"]:checked+span::before {
	display: inline-block;
	content: '→';
	margin-left: calc(var(--size-2xs) * -3);
	padding-right: calc(var(--size-2xs) * 1);
}

/* clear fucking webflow mess  */
.w-embed::before,
.w-embed::after {
	display: none;
}

@media screen and (max-width: 479px) {

	.font-dial-system label {
		line-height: var(--size-xl);
		font-size: var(--text-l);
	}

	.font-selection fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		column-gap: var(--size-xs);
	}

	.font-selection input[type="radio"]+span {
		background-size: 100%;
	}

	.font-selection input[type="radio"]:checked+span::before {
		display: none;
	}
}