* {
	background-color: black;
	color: white;
	font-family: lttrface-preview-font-000-030-100;
	font-weight: normal;
}

header {
	display: grid;
	grid-auto-flow: row dense;
	grid-auto-columns: 1fr;
	grid-column-gap: 1.2vw;
	grid-row-gap: 1.2vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-rows: auto;
	font-size: 1.7vw;
	line-height: 2;
	height: 6vw;
	align-items: center;
}

header div {
	grid-column: 2/10;
	display: flex;
	gap: 1.2vw;
	align-items: center;
}

header div .logo {
	height: 2.4vw;
	width: auto;
}

header div p {
	display: block;
	width: auto;
}

.builder {
	display: grid;
	/* min-height: 75vh; */
	grid-auto-flow: row dense;
	grid-auto-columns: 1fr;
	grid-column-gap: 1.2vw;
	grid-row-gap: 1.2vw;
	grid-template-areas: ". area-head area-head area-head area-head area-head area-head area-head area-head area-head area-head" 
						 ". area-ui-frame area-ui-frame . area-text-options area-text-options area-text-options area-text-options area-text-options area-text-options area-text-options" 
						 ". area-footer area-footer area-footer area-footer area-footer area-footer area-footer area-footer area-footer area-footer";
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto minmax(36vw, -webkit-min-content) auto;
	grid-template-rows: auto minmax(36vw, min-content) auto;
}

.options {
	grid-area: area-ui-frame;
	align-self: center;
}

.preview {
	grid-area: area-text-options;
	font-size: 6.5vw;
	line-height: 8vw;
	align-self: center;
}

.preview div {
	width: 100%;
}

footer {
	display: grid;
	grid-auto-flow: row dense;
	grid-auto-columns: 1fr;
	grid-column-gap: 1.2vw;
	grid-row-gap: 1.2vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-rows: auto;
	margin: 0 0 3.6vw 0;
}

footer .end_claim {
	display: flex;
	grid-column: 2/8;
	align-items: center;
	font-size: 2.4vw;
	line-height: 2.8vw;
}

footer .end_claim .hand_pointer {
	position: relative;
	margin: 0 0.8vw 0 0;
	height: 2.5vw;
}

footer .fpu_logo {
	grid-column: 2/3;
	grid-row: 2;
	height: 3.4vw;
	width: auto;
	margin: 8vw 0 0 0;
}

footer .fpu_claim {
	grid-column: 2/5;
	grid-row: 3;
	font-size: 1vw;
	line-height: 1.6vw;
	letter-spacing: 0.02em;
}